$dark-1: #222831;

.dark-mode {
  // Layout Default
  $dark-background: $dark-1;

  @apply transition-colors;

  &.layout-container {
    background: $dark-background !important;
  }

  // The header component
  .header {
    @apply text-light-surface;

    background: $dark-background !important;

    &.header--scroll {
      box-shadow: none;
    }
    .header-avatar h3 {
      @apply text-light-surface;
    }
  }

  // Bio component
  .bio p,
  h2 {
    @apply text-light-surface;
  }

  // Blog post and project preview card.
  .blogpost-preview,
  .project-preview {
    @apply text-light-surface #{!important};

    background: #2b323d !important;
    &:hover {
      @apply transition-colors duration-500 #{!important};

      background: #2f3642 !important;
    }

    .blogpost-preview__tag,
    .project-preview__tags-item {
      @apply text-dark-onSurfaceSecondary border-dark-onSurfaceSecondary;
    }
    // background: #1b262c !important;
  }

  .blogpost-preview-skeleton {
    background: red;
  }

  // Policies Page
  .policies__container {
    h1,
    p {
      @apply text-light-surface;
    }
  }

  // Blog Page
  .section-intro {
    .section-intro__welcome {
      h1,
      p {
        @apply text-light-surface;
      }
    }
  }

  // BlogpostItem component
  .blogpost-item {
    @apply text-light-surface;

    .blogpost-item__title {
      @apply text-light-surface;
    }

    .blogpost-item__tags {
      .tags-item {
        @apply border-nuxt-lightgreen;
      }
    }

    .blogpost-header-skeleton {
      background: $dark-background;
    }
  }

  // Skeleton
  .skeleton-box {
    @apply bg-dark-surface #{!important};

    &::after {
      background-image: linear-gradient(
        90deg,
        rgba(#3a546e, 0) 0,
        rgba(#3a546e, 0.2) 20%,
        rgba(#3a546e, 0.5) 60%,
        rgba(#3a546e, 0)
      ) !important;
    }
  }

  // Project Page
  .projects__container {
    .project__preview-loader {
      @apply bg-dark-surface;
      // background: $dark-background;
    }
  }

  // TheFooter component
  .footer {
    background: $dark-background !important;
    .footer__owner li,
    .footer__owner small {
      @apply text-light-onSurfaceSecondary;

      &:hover {
        @apply text-nuxt-lightgreen transition-colors;
      }
    }

    .footer__social-item img {
      filter: invert(1);
    }
  }
}
