html,
body,
#app {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @apply bg-dark-surface;

  width: 5px;
}

::-webkit-scrollbar-thumb {
  @apply text-secondary-lightgreen;

  border-radius: 2px;
}
