@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

html,
body,
#app {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @apply bg-dark-surface;

  width: 5px;
}

::-webkit-scrollbar-thumb {
  @apply bg-nuxt-lightgreen;

  border-radius: 2px;
}
